@import url("https://fonts.googleapis.com/css?family=Merriweather:300,400,900|Source+Sans+Pro:300,400,700|Raleway:100,300,400,700&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/* Reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
@media screen {
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block; }
  body {
    line-height: 1; }
  ol, ul {
    list-style: none; }
  blockquote, q {
    quotes: none; }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none; }
  table {
    border-collapse: collapse;
    border-spacing: 0; }
  /* End Reset */ }

@media screen {
  .dont-break-out {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  body {
    background: #f2f2f2;
    line-height: 1.6;
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif; }
  #resume {
    padding: 1rem 0;
    margin: 1rem auto; }
  #print-me {
    display: none; }
  #header {
    padding: 0;
    margin-bottom: 1em; }
  #resume > header div {
    display: table;
    padding-left: 0.5em; }
    #resume > header div.middle {
      padding-top: 1.5em; }
  .print {
    display: none; }
  .item .summary, .item .extras {
    clear: both; }
  header {
    padding: 0; }
    header h1, header h2, header h3, header h4, header h5, header h6 {
      margin: 0.75rem 0; }
    header img {
      display: block;
      width: 10em;
      border-radius: 0.275em;
      float: right;
      vertical-align: middle; }
    header h1.name {
      font-size: 1.5rem; }
    header h2.label {
      font-size: 1.2em;
      font-weight: 400;
      color: #757575; }
    header h3.specialty {
      font-size: 1.1em;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 300;
      color: #757575; }
    header .name {
      line-height: 1;
      font-family: Merriweather, serif;
      font-weight: 900; }
    header .label {
      line-height: 1;
      font-weight: 400; }
  .section > header {
    padding: 1em 0; }
  section#references {
    border-bottom: none; }
  section#basics {
    background: inherit; }
    section#basics #profiles ul {
      list-style: none;
      margin: inherit;
      padding: inherit; }
  section#skills {
    padding-bottom: 0; }
  section#education, section#work {
    padding-bottom: 1em; }
  .main-summary section {
    padding-bottom: 1em; }
  header::after {
    display: table;
    content: " ";
    clear: both; }
  h2.section-title {
    text-align: left;
    font-size: 1.2rem;
    font-family: Merriweather, serif;
    font-weight: 900;
    color: #757575;
    margin-bottom: 0.1275em; }
  .date {
    font-weight: 700;
    color: #757575; }
  .position, .area, .institution {
    font-weight: 900; }
  #interests .item, #languages .item, #skills .item {
    padding: 0 1em 1em 0;
    border-bottom: none; }
    #interests .item .name, #interests .item .language, #languages .item .name, #languages .item .language, #skills .item .name, #skills .item .language {
      font-weight: 700;
      font-size: 110%; }
  #profiles, #skills, #interests, #languages {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    padding-bottom: 1em; }
  #profiles, #location {
    box-shadow: none;
    padding: 0; }
  #profiles .item {
    margin: 0;
    padding: 0;
    padding-right: 1em;
    border-bottom: none; }
  #interests ul {
    margin-top: 0.5em; }
  #publications .name {
    font-style: italic; }
  .courses li, .keywords li {
    display: inline-block;
    background: #f0f0f0;
    font-size: 0.9em;
    line-height: 1;
    color: #333;
    padding: 0.4em 0.8em;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-radius: 3px; }
  #publications .date {
    font-weight: normal;
    color: #000; }
  #skills .item {
    min-width: 15em;
    padding: 0 .5em .8em 0;
    border-bottom: none; }
  #skills .level .bar {
    border: 1px solid #ddd;
    display: block;
    width: 10em;
    height: 5px;
    margin: 0em 0 1em 0;
    position: relative; }
    #skills .level .bar::after {
      position: absolute;
      content: " ";
      top: 0;
      left: 0;
      background: black;
      height: 5px; }
  #skills .level.beginner .bar::after {
    background: #EB5F51;
    width: 2.5em; }
  #skills .level.intermediate .bar::after {
    background: #ffdf1f;
    width: 5em; }
  #skills .level.advanced .bar::after {
    background: #59C596;
    width: 7.5em; }
  #skills .level.master .bar::after {
    background: #5CB85C;
    width: 10em; }
  /* Skills chart */
  #references .item {
    padding-left: 1em;
    border-left: 5px solid #EB5F51; }
  .fa.social {
    margin-right: 0.25em;
    font-size: 1.1em; }
  /* Social Media Brand Colors */
  .google-plus {
    color: #dd4b39; }
  .tumblr {
    color: #32506d; }
  .foursquare {
    color: #0072b1; }
  .facebook {
    color: #3b5998; }
  .linkedin {
    color: #007bb6; }
  .pinterest {
    color: #cb2027; }
  .dribbble {
    color: #ea4c89; }
  .instagram {
    color: #517fa4; }
  .twitter {
    color: #00aced; }
  .soundcloud {
    color: #ff3a00; }
  .wordpress {
    color: #21759b; }
  .youtube {
    color: #bb0000; }
  .github {
    color: #171515; }
  .stack-overflow {
    color: #828386;
    position: relative; }
  .flickr {
    color: #ff0084; }
  .stack-overflow::after {
    position: absolute;
    left: 0;
    content: '\f16c';
    color: #f68a1f;
    overflow: hidden;
    height: 40%; }
  /******************
   **		HELPER CLASSES
   ****************** */
  .fa {
    min-width: 1.25em;
    margin-right: 0.25em;
    text-align: center; }
  .clear {
    display: table;
    clear: both; } }

@media screen and (max-width: 601px) {
  body {
    font-size: 95%;
    font-family: Merriweather, serif;
    font-weight: 400;
    background-color: #ffffff;
    color: #333333; }
  #resume {
    padding: 1em; }
    #resume > header, #resume > section {
      margin-bottom: 1em; }
    #resume h2.label, #resume h2.section-title, #resume h1.name, #resume h3.specialty {
      font-family: "Source Sans Pro", sans-serif;
      color: #003D5D; }
    #resume h2 {
      font-size: 1.3rem; }
    #resume h3 {
      font-size: 1.2rem; }
    #resume .company-description, #resume .project-description {
      font-family: "Raleway", Helvetica, Calibri, sans-serif;
      font-weight: 400; }
  .item {
    margin: 1.5rem 0;
    text-align: justify; }
    .item .summary, .item .extras {
      margin-bottom: 0.5rem; }
    .item ul, .item ol {
      list-style: disc;
      margin-left: 2rem; }
      .item ul li a, .item ol li a {
        text-overflow: ellipsis; }
  #interests .item, #skills .item {
    text-align: initial; } }

@media screen {
  /****************
   **		TABLET
   **************** */ }

@media screen and (min-width: 602px) {
  #resume {
    width: 550px;
    margin: 0 auto; }
  .item ul, .item ol {
    margin-left: 3em;
    list-style: disc; }
  .entry {
    margin-bottom: 1em; }
    .entry header {
      padding: 1em 0; }
  #basics .contact-block {
    display: inline-block;
    width: 50%; }
  #basics #contact, #basics #contact-languages {
    float: right; }
  #work h3.name, #projects h3.name, #volunteer h3.name {
    width: 66.8047%;
    display: block;
    float: left;
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 0.5em; }
  #work .website, #work .date, #work .location, #work .working-for, #projects .website, #projects .date, #projects .location, #projects .working-for, #volunteer .website, #volunteer .date, #volunteer .location, #volunteer .working-for {
    width: 33.1953%;
    display: block;
    float: right;
    text-align: right;
    margin-bottom: 0.5em; }
  #work .company-description, #work .position, #work .project-description, #projects .company-description, #projects .position, #projects .project-description, #volunteer .company-description, #volunteer .position, #volunteer .project-description {
    display: block;
    width: 66.8047%;
    float: left;
    margin-bottom: 0.5em; }
  #work .company-description, #work .project-description, #projects .company-description, #projects .project-description, #volunteer .company-description, #volunteer .project-description {
    font-style: italic;
    font-family: "Source Sans Pro", Helvetica, Calibri, sans-serif; }
  #work .position, #work .roles, #work .working-for, #projects .position, #projects .roles, #projects .working-for, #volunteer .position, #volunteer .roles, #volunteer .working-for {
    font-weight: 800; }
  #work .roles, #projects .roles, #volunteer .roles {
    clear: both; }
  .education .name, .education .institution {
    width: 38.1953%;
    float: left;
    margin: 0;
    vertical-align: text-top; }
  .education .area, .education .date {
    width: 61.8047%;
    float: left;
    margin: 0;
    vertical-align: text-top; }
  .education header {
    margin-bottom: 0;
    padding-bottom: 0; } }

@media screen and (min-width: 800px) {
  #print-me {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5; }
    #print-me .fa {
      font-size: 5em;
      color: black; } }

@media screen and (min-width: 1025px) {
  #resume {
    width: 650px;
    padding: 3em;
    margin: 3em auto;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); }
  .section {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 1em;
    margin-top: 1em;
    border-bottom: 1px solid #eee; }
    .section:last-of-type {
      border-bottom: none;
      margin-bottom: 0; }
  section > header {
    line-height: 1;
    padding-bottom: 1em; }
  h2.section-title {
    line-height: 1.1;
    padding-top: 0;
    margin-bottom: 0.4em; }
  section:not(.section) {
    width: 40em;
    margin-top: 0;
    border: none; }
  section p {
    margin: 0; }
  section#basics {
    width: auto;
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; }
  #profiles .item {
    padding-bottom: 1em; }
  div {
    padding: 0; }
  #skills .item {
    padding-left: 0;
    margin-top: 0; } }

@media print {
  @page {
    size: letter;
    margin: 1.2cm; }
  .no-page-break {
    page-break-inside: avoid; }
  a {
    text-decoration-line: none;
    color: inherit; }
  body {
    text-align: justify;
    font: 10pt "Merriweather", Georgia, "Times New Roman", Times, serif;
    line-height: 1.5em;
    background: #fff !important;
    color: #000; }
  .fa, #print-me {
    display: none; }
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", Helvetica, Calibri, sans-serif;
    font-weight: 700; }
  h2.label {
    margin-bottom: 0.5em; }
  h3.specialty {
    margin-top: 0;
    font-family: "Source Sans Pro", Helvetica, Calibri, sans-serif;
    font-weight: 400; }
  .section {
    padding: 0;
    clear: both;
    width: 100%;
    margin-bottom: 1em; }
  #basics #profiles ul {
    list-style: none;
    padding-left: 0;
    margin: 0; }
  #basics .contact-block {
    display: inline-block;
    width: 50%; }
  #basics #contact, #basics #contact-languages {
    float: right;
    text-align: right; }
    #basics #contact div .fa, #basics #contact-languages div .fa {
      float: left; }
  #work section.job .item, #work section.project .item, #projects section.job .item, #projects section.project .item, #volunteer section.job .item, #volunteer section.project .item {
    padding-top: 0.1em;
    clear: both; }
  #work section.job:not(:last-child), #work section.project:not(:last-child), #projects section.job:not(:last-child), #projects section.project:not(:last-child), #volunteer section.job:not(:last-child), #volunteer section.project:not(:last-child) {
    margin-bottom: 3em; }
  #work h3.name, #projects h3.name, #volunteer h3.name {
    width: 61.8047%;
    display: block;
    float: left;
    margin: 0; }
  #work .website, #work .date, #work .location, #work .working-for, #projects .website, #projects .date, #projects .location, #projects .working-for, #volunteer .website, #volunteer .date, #volunteer .location, #volunteer .working-for {
    width: 38.1953%;
    display: block;
    float: right;
    text-align: right; }
  #work .company-description, #work .position, #work .project-description, #projects .company-description, #projects .position, #projects .project-description, #volunteer .company-description, #volunteer .position, #volunteer .project-description {
    display: block;
    width: 61.8047%;
    float: left; }
  #work .company-description, #work .project-description, #projects .company-description, #projects .project-description, #volunteer .company-description, #volunteer .project-description {
    font-style: italic;
    font-family: "Source Sans Pro", Helvetica, Calibri, sans-serif; }
  #work .position, #work .roles, #work .working-for, #projects .position, #projects .roles, #projects .working-for, #volunteer .position, #volunteer .roles, #volunteer .working-for {
    font-weight: 800; }
  #work .roles, #work .summary, #projects .roles, #projects .summary, #volunteer .roles, #volunteer .summary {
    clear: both; }
  #work .summary, #work .extras, #projects .summary, #projects .extras, #volunteer .summary, #volunteer .extras {
    margin-bottom: 1em; }
  #work .location:before, #projects .location:before, #volunteer .location:before {
    content: "Location: "; }
  .education header .name {
    margin: 0 auto;
    display: block;
    width: 38.1953%;
    vertical-align: bottom;
    float: left; }
  .education header .area {
    width: 61.8047%;
    vertical-align: bottom;
    float: left; }
  .education .item .institution {
    width: 38.1953%;
    font-weight: 800;
    float: left; }
  .education .item .date {
    width: 61.8047%;
    float: left; }
  .education:after {
    content: '';
    display: block;
    clear: both; }
  #languages {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    padding-bottom: 1em;
    font-family: "Source Sans Pro", Helvetica, Calibri, sans-serif; }
    #languages .item {
      padding: 0 1em 1em 0;
      border-bottom: none; }
    #languages .language {
      font-weight: 700;
      font-size: 110%;
      font-family: "Merriweather", Georgia, "Times New Roman", Times, serif; }
  #interests .name, #skills .name {
    font-weight: 700;
    font-size: 110%; }
  #interests .item, #skills .item {
    display: block;
    width: 100%;
    clear: both;
    margin-bottom: 2em; }
    #interests .item:after, #skills .item:after {
      display: block;
      border-bottom: 1px solid slategray; }
    #interests .item .name, #interests .item .level, #skills .item .name, #skills .item .level {
      display: inline-block;
      vertical-align: text-bottom;
      text-align: left;
      font-size: 1em; }
    #interests .item .name, #skills .item .name {
      padding-right: 1em; }
    #interests .item .keywords, #skills .item .keywords {
      font-family: "Source Sans Pro", Helvetica, Calibri, sans-serif; }
    #interests .item ul, #interests .item ol, #skills .item ul, #skills .item ol {
      list-style: none;
      padding-left: 0;
      margin: 0; }
      #interests .item ul li, #interests .item ol li, #skills .item ul li, #skills .item ol li {
        display: inline-block;
        padding: 0 0.5em;
        border-left: 1px solid lightgray; }
        #interests .item ul li:first-of-type, #interests .item ol li:first-of-type, #skills .item ul li:first-of-type, #skills .item ol li:first-of-type {
          margin-left: 0; }
        #interests .item ul li:last-of-type, #interests .item ol li:last-of-type, #skills .item ul li:last-of-type, #skills .item ol li:last-of-type {
          margin-right: 0;
          border-right: 1px solid lightgray; } }
